#work-sample
  .path-info
    %span.path
      %span
        =link_to @work_sample.class, work_samples_path
      %span
        %i.fa.fa-chevron-right
      %span=@work_sample.name
  .info
    %h5=@work_sample.name
  .work-sample-content
    .tiles.tile-description
      .title Description
      .content
        - if @work_sample.content.present?
          = @work_sample.content
        - else
          %i This work sample has no description
    .tiles.tile-document
      .title Document Upload
      - if @work_sample.file.attached?
        .content
          - if @work_sample.file.image?
            = link_to image_tag(@work_sample.file, width: 500), @work_sample.file
          - elsif @work_sample.file.representable?
            = link_to image_tag(@work_sample.file.representation(resize: '500x500')), @work_sample.file
        .footer-links
          = link_to "Download", rails_blob_path(@work_sample.file, disposition: :attachment)
      - else
        .content
          %i This work sample has no document upload
        .footer-links Nothing to download

