#work-sample
  .path-info
    %span.path
      %span
        =link_to @work_sample.class, work_samples_path
      %span
        %i.fa.fa-chevron-right
      %span=@work_sample.name
  .info
    %h5=@work_sample.name
  .work-sample-content
    .tiles.tile-description
      .title Description
      .content
        - if @work_sample.content.present?
          = @work_sample.content
        - else
          %i This work sample has no description
    .tiles.tile-document
      .title Document Uploads
      - if @work_sample.files.attached?
        .content
          - @work_sample.files.each do |file|
            - if file.image?
              %span.image-frame
                = link_to image_tag(file, width: 150), file
                = link_to "Download", rails_blob_path(file, disposition: :attachment), class: "download-link"
            - elsif file.representable?
              = link_to image_tag(file.representation(resize: '500x500')), file
      - else
        .content
          %i This work sample has no document upload
        .footer-links Nothing to download

