%section.super-box
  .box
    .landing
      .headline
        %h1 Safe & Secure File Sharing Service
        %p Upload, Download and Preview work samples from a single place
        = link_to "Get Started", new_work_sample_path, class: "filio-btn get-started"