// Place all the styles related to the work_samples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'base';

#work-sample {
  background: $primary-background;
  min-width: 340px;
  min-height: 92vh;
  padding: 0;
  color: black;
  .path-info {
    display: block;
    height: 3rem;
    line-height: 3rem;
    border-bottom: 1px solid $box-shadow;
    padding: 0 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    span.path {
      float: left;
      span {
        padding-right: .5rem;
      }
    }
  }
  .info {
    display: block;
    height: 10rem;
    line-height: 12rem;
    padding: 0 2rem;
    background: $white;
    border-bottom: 1px solid $box-shadow;
    text-align: left;
    h5 {
      font-weight: bold;
    }
  }
  .work-sample-form {
    background: $white;
    margin: 2rem;
    border-radius: 5px;
    border: 1px solid $box-shadow;
    min-height: 70rem;
    .title {
      padding: 2rem;
      font-weight: bold;
      border-bottom: 1px solid $box-shadow;
      text-align: left;
    }
    form {
      width: 80%;
      padding: 20px 40px;
      label {
        color: 424242;
      }
      input {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        &:focus {
          border: 1px solid $green !important;
          box-shadow: 0 0px 6px $green !important;
          background: $white;
        }
      }
      textarea {
        font-size: 14px;
        &:focus {
          border: 1px solid $green;
          box-shadow: 0 0px 6px $green !important;
          background: $white;
        }
      }
      input[type=file], .direct-upload {
        border: 2px;
        width: 48%;
        float: left;
        border: 1px solid $box-shadow;
        border-radius: 2px;
        &:focus {
          border: 1px solid $green;
          box-shadow: 0 0px 6px $green !important;
          background: $white;
        }
      }
      .direct-upload {
        position: absolute;
        z-index: 200;
        padding: 0 2rem;
        color: $white;
      }
      .direct-upload__filename {
        position: relative;
        z-index: 200;
        color: $white;
      }
       
      .direct-upload--pending {
        background: $light-blue;
      }
       
      .direct-upload__progress {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: $blue;
        transition: width 500ms ease-out, opacity 60ms 60ms ease-in;
        transform: translate3d(0, 0, 0);
      }
      .direct-upload--error {
        border-color: $red;
      }
       
      input[type=file][data-direct-upload-url][disabled] {
        display: block;
      }
      input[type=submit] {
        min-width: 15rem;
        height: 40px; 
        line-height: 40px;
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 2px;
        border: 1px solid $box-shadow;
        font-family: $primary-font;
        font-size: 14px;
        font-weight: bold;
        color: $white;
        background: $green;
        border: 1px solid $green;
        float: right;
        transition: 0.2s ease-in-out;
        &:hover, &:focus {
          background: $blue;
          border: none;
          transition: 0.2s ease-in-out;
          box-shadow: none;
        }
      }
    }
  }

  .work-sample-content {
    display: flex;
    min-height: 2rem;
    .tile-description {
      flex: 2
    }
    .tile-document {
      flex: 3;
    }
    .tiles {
      margin: 2rem;
      background: $white;
      border: 1px solid $box-shadow;
      border-radius: 2px;
      text-align: left;
      .title {
        background: $box-shadow;
        height: 3rem;
        line-height: 3rem;
        padding: 0 2rem;
        width: 100%;
        font-size: 1.2rem;
      }
      .content {
        min-height: 10rem;
        padding: 2rem;
        text-align: center;
      }
      .footer-links {
        border-top: 1px solid $box-shadow;
        height: 2rem;
        line-height: 2rem;
        width: 100%;
        font-size: 1.2rem;
        background: $green;
        text-align: center;
        font-weight: bold;
        color: white;
        transition: 0.5s ease-in-out;
        &:hover {
          transition: 0.5s ease-in-out;
          cursor: pointer;
          background: $blue;
        }
        a {
          display: block;
          width: 100%;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  #worsksample {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}