%header#header
  %nav.main-nav
    %span.header-logo Filio
    %ul.right.app-menu.hide-on-small
      %li.nav-item
        = link_to "Home", work_samples_path
      %li.nav-item
        = link_to "Work Samples", work_samples_path